<div class="page-header">
    <div class="row">
        <h1>My Events
            <span class="pull-right">
                <a href="#/newEvent" >
                    <button class="btn btn-default">
                        Create new event
                    </button>
                </a>
            </span>
        </h1>
    </div>
</div>

<div data-bind="if: events.length === 0">
<div class="panel panel-default" data-bind="if: events.length === 0">
    <div class="panel-heading">
        <h3 class="panel-title">You have no events</h3>
    </div>
    <div class="panel-body">
        <a href="#newEvent">Create one now!</a>
    </div>
</div>
</div>

<div data-bind="foreach: events">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a data-bind="attr: { href: '#/events/' + $data.id }">
                <h3 class="panel-title" data-bind="text: $data.title"></h3>
            </a>
        </div>
        <div class="panel-body" data-bind="text: $data.description">

        </div>
    </div>
</div>

<div class="page-header">
    <div class="row">
        <h1>Events near me
            <!-- <span class="pull-right">
                <a href="#/newEvent" >
                    <button class="btn btn-default">
                        Create new event
                    </button>
                </a>
            </span> -->
        </h1>
    </div>
</div>
